In [1]:
a = [1,2,3,4]

for x in a:
    print((x+5)/2)

3.0
3.5
4.0
4.5

In [2]:
a = [1,2,3,4,[5,6]]

for x in a:
    print(x)

1
2
3
4
[5, 6]

In [3]:
name = "abcdefg"
for ch in name:
    print(ch)

a
b
c
d
e
f
g

In [4]:
d = {"name":"sahil", "last_name":"gupta", "marks":8.6}

In [5]:
for x in d:
    print(x)

name
last_name
marks

In [6]:
".".join(["a","b","c"])

'a.b.c'

In [7]:
".".join({"name":"sahil", "last_name":"gupta", "marks":8.6})

'name.last_name.marks'

In [8]:
a = list("abcdef")

In [9]:
a

['a', 'b', 'c', 'd', 'e', 'f']

In [10]:
a = [1,2,3,4,5]
print(sum(a))

15